1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 4

print (x)

4

2) Imprimir el tipo de dato de la constante 8.5

In [15]:
Constante = 8.5

print(type(Constante))

<class 'float'>


3) Imprimir el tipo de dato de la variable creada en el punto 1

In [16]:
x = 4
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
x = "jonathan"

print (x)

jonathan

5) Crear una variable que contenga un número complejo

In [14]:

y = 2 + 4j

print(y)

(2+4j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [17]:
y = 2 + 4j

print(type(y))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [22]:
pi = 3.1415927
pi_redondeado = round(pi,4)


print (pi_redondeado)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [39]:
var_1 = 'True'
var_2 = True

 True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [63]:
var_1 = 'True'
var_2 = True

print('El tipo de dato de la var_1 es',type(var_1), ', y el tipo de dato de la var_2 es',type(var_2))

El tipo de dato de la var_1 es <class 'str'> , y el tipo de dato de la var_2 es <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [64]:
num_ent_dec = 4 + 4.55

print(num_ent_dec)

8.55

11) Realizar una operación de suma de números complejos

In [66]:
a = 2 + 1j
b = 4 + 2j

print(a+b)

(6+3j)

12) Realizar una operación de suma de un número real y otro complejo

13) Realizar una operación de multiplicación

In [67]:
a = 3 * 2
print(a)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [68]:
a = 2**8

print(a)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [69]:
a = 27/4

print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [70]:
print(int(a))

6

In [ ]:
17) De la división de 27 entre 4 mostrar solamente el resto

In [71]:
a = 27%4
print(a)

3

In [ ]:
18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [72]:
ejer_16 = 6
ejer_17 = 3

sum = ejer_16 * 4 + ejer_17

print (sum)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [79]:
var_1 = 'Jonathan '
var_2 = 'Giovi '

print(var_1  +  var_2)

Jonathan Giovi

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [81]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [85]:
2 == int(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [90]:
#a = float('3,8')

a = float('3.8')

print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [96]:
x -= 3
x = -3

print(x)

-3

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [97]:
x = 1 ≤≤ 2

print(x)

SyntaxError: invalid character '≤' (U+2264) (2679967068.py, line 1)

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [104]:
a = 2 + int('2')

print (a)

4

26) Realizar una operación válida entre valores de tipo entero y string

In [105]:
a = str(2) + '2'

print (a)

22